@import "tailwindcss";

html, body{
  margin: 0;
  padding: 0;
  background-color: #0a0a0a;
  background-image:
  linear-gradient(rgba(255, 255, 255, 0.02) 1px, transparent 1px),
  linear-gradient(90deg, rgba(255, 255, 255, 0.02) 1px, transparent 1px),
  radial-gradient(circle at 30% 30%, rgba(255,255,255,0.05), transparent 25%),
  radial-gradient(circle at 70% 60%, rgba(255,255,255,0.05), transparent 25%);
  background-size: 120px 120px, 120px 120px, 600px 600px, 800px 800px;
  background-position: 0 0, 0 0, 0 0, 0 0;
  color: white;
  min-height: 100vh;
}


@layer utilities {
  @keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
  .animate-blink {
    animation: blink 0.8s step-end infinite;
  }
  @keyframes loading {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(250%);
    }
  }
  .animate-loading-bar {
    animation: loading 0.8s ease infinite;
  }
}

.reveal {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.7s ease, transform 0.7s ease;
}

.reveal.visible {
  opacity: 1;
  transform: translateY(0)
}
